@font-face {
    font-family: basisMedium;
    src: url(./fonts/BasisGrotesqueArabicPro-Regular.ttf);
}
@font-face {
    font-family: basisBold;
    src: url(./fonts/BasisGrotesqueArabicPro-Bold.ttf);
}
@font-face {
    font-family: basisLight;
    src: url(./fonts/BasisGrotesqueArabicPro-Light.ttf);
}
:root{
    --vw: 1440;
    --multiplier: 100vw;
}
body {
    margin: 0;
    padding: 0;
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    font-family: basisMedium, sans-serif;
}
.banner {
    position: relative; /* Context for absolutely positioned children */
    height: 100vh; /* Full viewport height */
  }
  .media-dynamic.d-desktop video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the entire container */
    z-index: -1; /* Ensure it is behind other elements */
  }
.menu {
    display: flex;
    align-items: center;
    font-size: 22px;
    position: relative;
    padding: 55px;
}

.menu ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0; 
    padding: 0; 
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu-btn {
    margin-left: auto;
}

.join-us-btn {
    border: 2px groove #d1d1d1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.logo {
    margin-top: 8px;
}

.overlay-gradient-top{
    opacity: 0.5;
    background: linear-gradient(0deg, transparent, #000);
    height: calc(243 / var(--vw)* var(--multiplier));
}

#slider {
    text-align: center;
  }
  
  #slider p {
    font-size: 6vw;
    color: white;
    font-family: basisMedium, sans-serif;
    font-weight: 100;
    white-space: nowrap;
  }
  .text-label .text h4{
    font-size: 24px;
    color: #D1CCBF;
    font-family: basisMedium, sans-serif;
    font-weight: 100;
  }
  .title-wrapper h2{
    font-size: 42px;
    color: #D1CCBF;
    font-family: basisLight, sans-serif;
    font-weight: 100;
  }
  .title-wrapper h2 span{
    color: #ca7d57;
  }
  .content-wrapper p{
    font-size: 26px;
    color: #D1CCBF;
    font-family: basisLight, sans-serif;
    font-weight: 100;
    width: 80%;
  }
  .blocks-container{
    position: absolute;
    width: 100%;
  }
  .blocks-container.top {
    top: 0;
  }
  .blocks-container.bottom {
    bottom: 0;
  }
  .blocks-row{
    width: 100%;
    height: 100px;
    overflow: hidden;
    display: flex;
  }
  .block{
    width: 100%;
    height: 100%;
    transition: opacity 100ms;
  }
  .blocks-container.top .blocks-row .block{
    opacity: 1;
  }
  .blocks-container.bottom .blocks-row .block{
    opacity: 0;
  }
  /* .hero-img .blocks-container.top .blocks-row .block{
    background-color: aqua;
  } */
  .hero-img .blocks-container.bottom .blocks-row .block{
    background-color: #30493d;
  }
  